@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

@font-face {
    font-family: 'Tartuffo-LightItalic';
    src: url('../fonts/Tartuffo-LightItalic.woff') format('woff'),
		 url('../fonts/Tartuffo-LightItalic.woff2') format('woff2'),
		 url('../fonts/Tartuffo-LightItalic.ttf') format('ttf');
}

* {
	margin: 0;
	padding: 0%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Tartuffo-LightItalic";
	color: #000000;
}

html,
body {
	overflow-x: hidden;
	background: #E0DDDD;
	animation: fadeInAnimation ease 2.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.wrapper {
	width: 100%;
	height: 100%;
}

.wrapper .container {
	width: 95%;
	margin: 0px auto;
}

.divider {
	width: 100%;
	height: 2px;
	background: #000000;
}

.whitespace {
	width: 100%;
	height: 60px;
}

/* navbar */

.navbar .navbar-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 20px 0;
	font-size: 16px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.navbar .navbar-container .site-title {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.navbar .navbar-container .site-type {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.navbar .navbar-container .site-year {
	-webkit-box-flex: 2;
	-ms-flex-positive: 2;
	flex-grow: 2;
	text-align: right;
}

/* header */

.header {
	margin: 80px 0;
	z-index: 2 !important;
	width: 60%;
}

.header .header-container h1 {
	font-family: "Tartuffo Light Italic";
	font-size: 12rem;
}

@media (max-width: 900px) {
	.header .header-container h1 {
		font-size: 5.4rem;
	}
}

/* Hero Section */
.spalte_100 {
	width: 100%;
}

.spalte_100 h1 {
	float: left;
	font-size: 120px;
	font-weight: 100;
}

.spalte_60 {
	float: left;
	width: 60%;
	padding-right: 20px;
}

.spalte_60 h1 {
	float: left;
	font-size: 120px;
	font-weight: 100;
	-moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.spalte_60 h1:hover {
	float: left;
	font-size: 120px;
	font-weight: 100;
	color: #E0DDDD;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
	-webkit-transform: skewX(-5deg);
	-moz-transform: skewX(-5deg);
	-o-transform: skewX(-5deg);
	transform: skewX(-5deg);
}

.spalte_60 div p {
	float: left;
	font-size: 24px;
	font-weight: 100;
	font-family: "DM Sans";
	width: 100%;
	padding-right: 60px;
	padding-top: 20px;
	line-height: 36px;
	text-align: justify;
}


.spalte_60 .button_block {
	text-align: center;
	float: left;
}

.spalte_60 .button {
	width: 250px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 45px;
    text-align: center;
	border-radius: 100px;
	border: 2px solid #000000;
	box-sizing: border-box;
	margin-top: 40px;
	font-size: 24px;
	transition-duration: 0.3s;
	text-decoration: none;
	margin-bottom: 40px;
}

.spalte_60 .button:hover {
	width: 250px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 45px;
    text-align: center;
	border-radius: 100px;
	box-sizing: border-box;
	margin-top: 40px;
	font-size: 24px;
	background-color: #000000;
	color: #E0DDDD;
    box-shadow: 0 0 6px #000000;
}

/* Über das Plataeau */
.spalte_50 {
	width: 50%;
	float: left;
}


.spalte_50 .button_block {
	text-align: center;
	float: left;
}

.spalte_50 .button {
	width: 250px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 45px;
    text-align: center;
	border-radius: 100px;
	border: 2px solid #000000;
	box-sizing: border-box;
	margin-top: 40px;
	font-size: 24px;
	transition-duration: 0.3s;
	text-decoration: none;
	margin-bottom: 40px;
}

.spalte_50 .button:hover {
	width: 250px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 45px;
    text-align: center;
	border-radius: 100px;
	box-sizing: border-box;
	margin-top: 40px;
	font-size: 24px;
	background-color: #000000;
	margin-bottom: 40px;
	color: #E0DDDD;
	box-shadow: 0 0 6px #000000;
}

.spalte_40 {
	float: left;
	width: 40%;
}

.spalte_40 img {
	width: 100%;
	height: auto;
}

.spalte_40 a  {
	text-decoration: none;
}

.spalte_40 a figcaption {
	font-size: 14px;
	padding-top: 14px;
	height: auto;
	color: #3E3E3E;
}

.spalte_25 p {
	width: 25%;
	float: left;
	font-size: 24px;
	font-weight: 100;
	font-family: "DM Sans";
	padding-right: 60px;
	padding-top: 20px;
	line-height: 36px;
	text-align: justify;
}

.spalte_50 p {
	float: left;
	font-size: 24px;
	font-weight: 100;
	font-family: "DM Sans";
	padding-right: 60px;
	padding-top: 20px;
	line-height: 36px;
	text-align: justify;
}

.spalte_33  {
	width: 33%;
	float: left;
}

.spalte_33_preise  {
	width: 33%;
	float: left;
}

.spalte_30  {
	width: 33%;
	float: left;
}

.spalte_33 a  {
	width: 100%;
	float: left;
	font-size: 24px;
	font-weight: 100;
	font-family: "DM Sans";
	padding-right: 60px;
	padding-top: 20px;
	line-height: 36px;
}

.spalte_20 {
	width: 20%;
	float: left;
	margin-top: 24px;
}

.spalte_20_mitte {
	width: 20%;
	float: left;
}

.spalte_20_rechts {
	width: 20%;
	float: right;
}

.spalte_20_rechts a {
	width: 100%;
	float: left;
	font-size: 24px;
	font-weight: 100;
	font-family: "DM Sans";
	padding-top: 20px;
	line-height: 36px;
}

.spalte_20_mitte a{
	width: 100%;
	float: left;
	font-size: 24px;
	font-weight: 100;
	font-family: "DM Sans";
	margin-top: 20px;
	line-height: 32px;
	text-align: center;
	vertical-align: middle;
}

.spalte_20 a {
	width: 100%;
	float: left;
	font-size: 24px;
	font-weight: 100;
	font-family: "DM Sans";
	padding-right: 60px;
	padding-top: 20px;
	line-height: 36px;
}

.spalte_20 img {
	width: 100%;
	height: auto;
	padding-left: 40px;
	padding-right: 40px;
}

@media (max-width: 900px) {
	.spalte_100 h1 {
		float: left;
		font-size: 72px;
		font-weight: 100;
		padding-bottom: 20px;
	}
	
	.spalte_60 {
		float: left;
		width: 100%;
		vertical-align: middle;
		padding: 0%;
	}

	.spalte_60 div p {
		float: left;
		width: 100%;
		vertical-align: middle;
		text-align: justify;
		padding: 0;
		font-size: 20px;
		line-height: 32px;
	}

	.spalte_60 h1 {
		float: left;
		font-size: 72px;
		font-weight: 100;
		padding-bottom: 20px;
	}

	.spalte_60 h1:hover {
		float: left;
		font-size: 72px;
		font-weight: 100;
		padding-bottom: 20px;
		color: #E0DDDD;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: #000000;
		-webkit-transform: skewX(-5deg);
		-moz-transform: skewX(-5deg);
		-o-transform: skewX(-5deg);
		transform: skewX(-5deg);
	}

	.spalte_60 .button {
		width: 210px;
		height: 45px;
		margin: 0 auto;
		padding: 0;
		display: inline-block;
		line-height: 40px;
		text-align: center;
		border-radius: 100px;
		border: 2px solid #000000;
		box-sizing: border-box;
		margin-top: 40px;
		font-size: 20px;
		transition-duration: 0.3s;
		text-decoration: none;
		margin-bottom: 40px;
	}
	
	.spalte_60 .button:hover {
		width: 210px;
		height: 45px;
		margin: 0 auto;
		padding: 0;
		display: inline-block;
		line-height: 40px;
		text-align: center;
		border-radius: 100px;
		box-sizing: border-box;
		margin-top: 40px;
		font-size: 20px;
		background-color: #000000;
		color: #E0DDDD;
		box-shadow: 0 0 6px #000000;
		margin-bottom: 40px;
	}

	.spalte_50 {
		float: left;
		width: 100%;
	}

	.spalte_50 p {
		float: left;
		font-size: 20px;
		line-height: 32px;
		float: left;
		width: 100%;
		padding: 0px 0px 20px 0px;
	}

	.spalte_50 .button {
		width: 210px;
		height: 45px;
		margin: 0 auto;
		padding: 0;
		display: inline-block;
		line-height: 40px;
		text-align: center;
		border-radius: 100px;
		border: 2px solid #000000;
		box-sizing: border-box;
		margin-top: 40px;
		font-size: 20px;
		transition-duration: 0.3s;
		text-decoration: none;
	}

	.spalte_50 .button:hover {
		width: 210px;
		height: 45px;
		margin: 0 auto;
		padding: 0;
		display: inline-block;
		line-height: 40px;
		text-align: center;
		border-radius: 100px;
		box-sizing: border-box;
		margin-top: 40px;
		font-size: 20px;
		background-color: #000000;
		color: #E0DDDD;
		box-shadow: 0 0 6px #000000;
	}

	.spalte_40 {
		float: left;
		width: 100%;
		padding: 10px;
		vertical-align: middle;
	}

	.spalte_33  {
		width: 100%;
		float: left;
	}

	.spalte_33_preise  {
		width: 100%;
		float: left;
		padding-bottom: 20px;
	}

	.spalte_25 {
		float: left;
		width: 100%;
	}

	.spalte_25 p {
		font-size: 20px;
		line-height: 32px;
		float: left;
		width: 100%;
		padding: 0px 0px 20px 0px;
	}

	.spalte_20  {
		width: 100%;
		float: left;
	}

	.spalte_20 img  {
		width: 100%;
		float: left;
		padding: 0%;
	}

	.spalte_20_mitte {
		width: 100%;
		float: left;
	}
}

.reihe:after {
	content: "";
	display: table;
	clear: both;
}

.hero-image {
	width: 100%;
	
}

.hero-image::after {
	content: "";
	display: table;
	clear: both;
}

.hero-image .hero-image-container {
	width: 40%;
	float: right;
}

.hero-image .hero-image-container img {
	width: 100%;
}

@media (max-width: 900px) {
	.hero-image {
		margin-top: 40px;
	}
	.hero-image .hero-image-container {
		width: 100%;
	}
}

/* section-header */

.section-header .section-header-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 12px 0;
	font-size: 16px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

/* about */

.about {
	width: 100%;
}

.about::after {
	content: "";
	display: table;
	clear: both;
}

.about .about-container {
	width: 70%;
	float: right;
}

.about .about-container p {
	margin: 40px 0;
	font-size: 36px;
}

@media (max-width: 900px) {
	.about .about-container {
		width: 100%;
	}
	.about .about-container p {
		font-size: 24px;
	}
}

/* clients */

.gallerie {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	gap: 10px;
  }
  
  /* Create four equal columns that sits next to each other */
.gallerie_spalte {
	-ms-flex: calc(25% - 8px); /* IE10 */
	flex: calc(25% - 8px);
	max-width: calc(25% - 8px);
}
  
.gallerie_spalte img {
	margin-top: 10px;
	vertical-align: middle;
	width: 100%;
}
  /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
	.gallerie_spalte {
	  -ms-flex: calc(50% - 5px);
	  flex: calc(50% - 5px);
	  max-width: calc(50% - 5px);
	}
}

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.gallerie_spalte {
	  -ms-flex: 100%;
	  flex: 100%;
	  max-width: 100%;
	}
}

/* Künstler*/

.kunstcontainer_33 {
	padding: 16px;
	margin: 16px 0;
	width: calc(33.3% - 0px);
	float: left;
	vertical-align: middle;
	line-height: 42px;
	text-align: center;
	padding-top: 40px;
}
  
  .kunstcontainer_33::after {
	content: "";
	clear: both;
	display: table;
  }
  
  .kunstcontainer_33 img {
	/*
	float: left;
	*/
	border-radius: 50%;
	width: 25%;
	height: auto;
  }

  .kunstcontainer_33_extra {
	padding: 16px;
	margin: 16px 0;
	width: calc(33.3% - 0px);
	float: left;
	vertical-align: middle;
	line-height: 42px;
	text-align: center;
}
  
  .kunstcontainer_33_extra img {
	/*
	float: left;
	*/
	border: solid 2px #000000;
	width: 100%;
	height: auto;
	margin-top: 30px;
  }
  
  .kunstcontainer_33 h3 {
	font-size: 24px;
	margin-right: 15px;
	font-weight: 100;;
  }

  .kunstcontainer_33 a {
	font-size: 18px;
	margin-right: 15px;
	font-weight: 100;;
  }

  .kunstcontainer_50 {
	padding: 16px;
	margin: 16px 0;
	width: calc(50% - 50px);
	float: left;
	vertical-align: middle;
	line-height: 42px;
	text-align: center;
}

  .kunstcontainer_50::after {
	content: "";
	clear: both;
	display: table;
  }
  
  .kunstcontainer_50 img {
	/*
	float: left;
	*/
	border-radius: 50%;
	width: 18%;
	height: auto;
	transition: width 0.5s;
  }

  .kunstcontainer_50 img:hover {
	/*
	float: left;
	*/
	border-radius: 50%;
	width: 25%;
	height: auto;

  }
  
  .kunstcontainer_50 h3 {
	font-size: 24px;
	margin-right: 15px;
	font-weight: 100;;
  }

  .kunstcontainer_50 a {
	font-size: 18px;
	margin-right: 15px;
	font-weight: 100;;
  }

  @media (max-width: 500px) {
	.kunstcontainer_33 {
		text-align: center;
	}
	.kunstcontainer_33 img {
		margin: auto;
		float: none;
		display: block;
		width: 100%;
	}

	.kunstcontainer_50 {
		text-align: center;
		width: 100%;
	}
	.kunstcontainer_50 img {
		margin: auto;
		float: none;
		display: block;
		width: 100%;
	}
  }

/* Style the tab */
.tab {
	overflow: hidden;
  }
  
  /* Style the buttons inside the tab */
  .tab p button {
	width: 250px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 45px;
    text-align: center;
	border-radius: 100px;
	border: 2px solid #000000;
	box-sizing: border-box;
	font-size: 24px;
	transition-duration: 0.3s;
	text-decoration: none;
	background-color: #E0DDDD;
	margin-top: 12px;
	margin-bottom: 12px;
  }
  
  /* Change background color of buttons on hover */
  .tab p button:hover {
	width: 250px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 45px;
    text-align: center;
	border-radius: 100px;
	box-sizing: border-box;
	font-size: 24px;
	background-color: #000000;
	color: #E0DDDD;
	box-shadow: 0 0 6px #000000;
	cursor: pointer;
	margin-top: 12px;
	margin-bottom: 12px;
  }
  
  /* Create an active/current tablink class */
  .tab p button.active {
	width: 250px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 45px;
    text-align: center;
	border-radius: 100px;
	box-sizing: border-box;
	font-size: 24px;
	background-color: #000000;
	color: #E0DDDD;
	box-shadow: 0 0 6px #000000;
	cursor: pointer;
	margin-top: 12px;
	margin-bottom: 12px;
  }
  
  /* Style the tab content */
  .tabcontent {
	display: none;
	border-top: none;
  }
  
  /* Style the close button */
  .topright {
	float: right;
	cursor: pointer;
	font-size: 36px;
	border: solid 1px #000000;
  }

  .tabcontent {
	animation: fadeEffect 2s; /* Fading effect takes 1 second */
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
  }


.panel {
	border: 2px solid #000000;
	position: relative;
	width: 75%;
	z-index: 10;
	margin-left: auto;
	margin-right: auto;
  }
  
  .pricing-table {
	display: flex;
	flex-direction: column;
  }

  .pricing-table:hover {
	display: flex;
	flex-direction: column;
	box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
  }
  
  @media (min-width: 900px) {
	.pricing-table {
	  flex-direction: row;
	}
  }
  
  .pricing-table * {
	text-align: center;
  }
  
  .pricing-plan {
	border-bottom: 1px solid #000000;
	padding: 25px;
  }
  
  .pricing-plan:last-child {
	border-bottom: none;
  }
  
  @media (min-width: 900px) {
	.pricing-plan {
	  border-bottom: none;
	  border-right: 1px solid #000000;
	  flex-basis: 100%;
	  padding: 25px 50px;
	}
  
	.pricing-plan:last-child {
	  border-right: none;
	}
  }
  
  .pricing-img {
	margin-bottom: 20px;
	max-width: 100%;
	width: 20%;
	height: auto;
  }
  
  .pricing-header {
	font-weight: 100;
	letter-spacing: 1px;
	font-size: 32px;
  }
  
  .pricing-features {
	font-weight: 100;
	letter-spacing: 1px;
	margin: 25px 0 25px;
  }
  
  .pricing-features-item {
	border-top: 1px solid #000000;
	font-size: 18px;
	line-height: 1.5;
	padding: 15px 0;
	font-family: "DM Sans";
	list-style-type: none;
  }
  
  .pricing-features-item:last-child {
	border-bottom: 1px solid #000000;
  }
  
  .pricing-price {
	display: block;
	font-size: 32px;
	font-weight: 100;
  }
  
  #pricing-button {
	width: 250px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 45px;
    text-align: center;
	border-radius: 100px;
	border: 2px solid #000000;
	box-sizing: border-box;
	margin-top: 20px;
	font-size: 24px;
	transition-duration: 0.3s;
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
  }
  
  #pricing-button:hover,
  #pricing-button:focus {
	width: 250px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 45px;
    text-align: center;
	border-radius: 100px;
	box-sizing: border-box;
	margin-top: 20px;
	font-size: 24px;
	background-color: #000000;
	color: #E0DDDD;
    box-shadow: 0 0 6px #000000;
  }
  
  #pricing-button.is-featured {
	color: #E0DDDD;
  }
  
  #pricing-button.is-featured:hover,
  #pricing-button.is-featured:active {
	width: 250px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 45px;
    text-align: center;
	border-radius: 100px;
	box-sizing: border-box;
	margin-top: 40px;
	font-size: 24px;
	background-color: #000000;
	color: #E0DDDD;
    box-shadow: 0 0 6px #000000;
  }

  